*.*~

# http://www.gnu.org/software/automake

Makefile.in

# http://www.gnu.org/software/autoconf

/autom4te.cache
/autoscan.log
/autoscan-*.log
/aclocal.m4
/compile
/config.h.in
/configure
/configure.scan
/depcomp
/install-sh
/missing
/stamp-h1

*.log
*.aux
*.bak
Makefile.in
.deps/
*.m4
*.bbl
*.blg
trans.pdf
libtool
Makefile
stamp-h1
bin/
configure
config.status
autom4te.cache/
*.synctex.gz
config.h.in
src/config.h.in
